<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472483917207-cqnb2m7hk89fq4qksjta1ool6sbvt0ca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472483917207-cqnb2m7hk89fq4qksjta1ool6sbvt0ca</string>
	<key>API_KEY</key>
	<string>AIzaSyBQNf5awiA1kXfKcIU3rKDvegcfygTpEao</string>
	<key>GCM_SENDER_ID</key>
	<string>472483917207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iziflotemplatets</string>
	<key>PROJECT_ID</key>
	<string>iziflo-template</string>
	<key>STORAGE_BUCKET</key>
	<string>iziflo-template.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472483917207:ios:8f309f96f2ee2f68c468d2</string>
</dict>
</plist>