<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.iziflotemplatets"
  xmlns:tools="http://schemas.android.com/tools"
  >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
      android:name=".MainApplication"
      android:label="@string/variant_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      tools:replace="android:label"
      android:installLocation="auto"
      android:extractNativeLibs="true"
      android:usesCleartextTraffic="@string/CLEARTEXT">
      <activity
        android:name=".MainActivity"
        android:label="@string/variant_name"
        android:exported="true"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
      android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <!--Intent filter to capture authorization code response from the default browser on the device calling back to our app after interactive sign in -->
    <activity
        android:name="com.microsoft.identity.client.BrowserTabActivity"
          android:exported="true"
      android:screenOrientation="portrait">
        <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>  
                <data
                        android:host="@string/msal_host"
                        android:path="@string/manifest_signature_hash"
                        android:scheme="msauth" />
        </intent-filter>
    </activity>
    </application>
</manifest>
